.tr{
    display: table-row;
     box-sizing:border-box;
     margin-left: auto;
     margin-right: auto;
}
@media screen and (max-width: 576px) {
    .tr {
        display: none;
    }
   .tr{
       width: 400px;
    display: block;
    margin-bottom: 1rem;
    border-bottom: 2px solid #e8e9eb;
   }
  
}

 @media screen and (max-width: 452px) {
   
    .tr{
        width: 350px;
    
    }
   
 }
 @media screen and (max-width: 392px) {
   
    .tr{
        width: 310px;
    
    }
   
 }
